[submodule "PowerShell/Modules/psget"]
	path = PowerShell/Modules/psget
	url = https://github.com/psget/psget.git
[submodule "PSFolderSize"]
	path = PSFolderSize
	url = https://github.com/gngrninja/PSFolderSize.git
