<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BG8.Supercharger.Features.BuildPaneEnhancer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG8.Supercharger.Features.ProFind.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG8.Supercharger.Features.AutoText.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG8.Supercharger.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG8.Supercharger.Controller.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG8.Supercharger.Features.SuperCopyPaste.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG8.Supercharger.Features.RichCodeFormat.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG8.Supercharger.Features.XComments.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG8.Supercharger.Features.EVE.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG8.Supercharger.Features.CodeMap.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG8.Supercharger.Features.CodeMarker.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BG8.Supercharger.Features.BuildPaneEnhancer.Settings>
            <setting name="ShowTiming" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TotalTimeText" serializeAs="String">
                <value>total time</value>
            </setting>
            <setting name="FinishedText" serializeAs="String">
                <value>● Finished at</value>
            </setting>
            <setting name="StartedText" serializeAs="String">
                <value>● Started at</value>
            </setting>
            <setting name="PlaySoundOnBuildFinishedOnlyIfNotFocused" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlaySoundOnBuildFinishedOnlyIfBuildOrRebuild"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlaySoundOnBuildFinished" serializeAs="String">
                <value>True</value>
            </setting>
        </BG8.Supercharger.Features.BuildPaneEnhancer.Settings>
        <BG8.Supercharger.Features.ProFind.Settings>
            <setting name="FindTextHistory" serializeAs="String">
                <value>TreeviewItem.Resources#VS10X#Treeview#VS10X#multitrigger#VS10X#Invalid IDC for Element#VS10X#DELTANETWEIGHT#VS10X#RDWTEST02#VS10X#Contype#VS10X#RDWTest03#VS10X#LSAutoMaterialNotFoundRule#VS10X#LSAuto.LSAutoMaterialNotFoundRule#VS10X#MatlId in Element item does not match MatlId in parent Material item#VS10X#Sequence contains more than one matching element#VS10X#ElementWeightFromChangeRule#VS10X#New Element Weight cannot be greater than current Element Weight#VS10X#07-..#VS10X#New Weight is null or empty.#VS10X#CONTYPE#VS10X#"Y#VS10X#// Get Material Id#VS10X#operation="adjustments"#VS10X#</value>
            </setting>
            <setting name="OptUseRegex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptOnlyStrings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptWholeWords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptSkipStrings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileTypes" serializeAs="String">
                <value>*.xaml</value>
            </setting>
            <setting name="DialogY" serializeAs="String">
                <value>543</value>
            </setting>
            <setting name="OptMatchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastScope" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FileTypesSome" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OptAutoNextTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MatchLocation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OptSkipComments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DialogX" serializeAs="String">
                <value>1038</value>
            </setting>
            <setting name="FileTypesHistory" serializeAs="String">
                <value>*.xaml#VS10X#*.cs#VS10X#*.xml#VS10X#split*.cs#VS10X#mix*.cs#VS10X#*.sql#VS10X#*.xml;*.xsl;*.xslt;*.xsd;*.dtd#VS10X#app.config#VS10X#appconfig.cs#VS10X#*.cs;-*.Designer.cs#VS10X#*.cs;*.resx;*.resw;*.xsd;*.wsdl;*.xaml;*.xml;*.htm;*.html;*.css#VS10X#*.vb;-*.Designer.vb#VS10X#*.vb;*.resx;*.resw;*.xsd;*.wsdl;*.xaml;*.xml;*.htm;*.html;*.css#VS10X#*.cs;*.vb;*.resx;*.resw;*.xsd;*.wsdl;*.xaml;*.xml;*.htm;*.html;*.css#VS10X#*.htm;*.html;*.xml;*.css;*.disco;*.json;*.srf#VS10X#*.c;*.cpp;*.h;*.hpp;*.rc;*.resx#VS10X#*.txt#VS10X#</value>
            </setting>
            <setting name="LastSubfolderPath" serializeAs="String">
                <value>LSAuto.Tests\XML\MixSplitTxfr</value>
            </setting>
            <setting name="LastSolutionForSubfolderPath" serializeAs="String">
                <value>C:\Users\Charles.Bates\Source_SickOfTfs\SourceCode\LANMAS\LANMAS.sln</value>
            </setting>
            <setting name="ShowContext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptMatchType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ReplaceTextHistory" serializeAs="String">
                <value>08-01#VS10X#</value>
            </setting>
        </BG8.Supercharger.Features.ProFind.Settings>
        <BG8.Supercharger.Features.AutoText.Settings>
            <setting name="ReformatAtInsertion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutomaticLanguageSwitch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MigrationToDataV2Done" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreferredDateFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PreferredTimeFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MigrationToDataV3Done" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomParamEditAutoCloseTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CustomParamEditAutoCloseEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MacrosEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsXamlOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsCsOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsXmlOn" serializeAs="String">
                <value>False</value>
            </setting>
        </BG8.Supercharger.Features.AutoText.Settings>
        <BG8.Supercharger.Settings>
            <setting name="TBSHOOT_AF_OUT_NAME" serializeAs="String">
                <value>6kDE7f22ymdhKdtM/neaf0Zhlq2yCYpgnD5ukFI5WgHRI59UMnl9bGU/rKldhJX+MaV8bYEiwMvSujfbbQxdWhFRB/nauDJTxvIKlNVJmvIoRXBM91X+BLFxhstbcQnfbo1U6mG8</value>
            </setting>
            <setting name="TBSHOOT_TL_W4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TBSHOOT_TL_W5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TBSHOOT_TL_W2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TBSHOOT_TL_W3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TBSHOOT_TL_W1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JustUpdatedConsumedForVersion" serializeAs="String">
                <value>1.1.0.874</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>YourUserName</value>
            </setting>
            <setting name="JustUpdatedNotifsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TBSHOOT_AF_OUT_EXT" serializeAs="String">
                <value>6kDE7f22ymdhKdtM/neaf0Zhlq2yCYpgnD5ukFI5WgHRI59UMnl9bGU/rKldhJX+MaV8bYEiwMvSujfbbQxdWhFRB/nauDJTxvIKlNVJmvIoRXBM91X+BLFxhstbcQnfbo1U6mG8 6kDE7f22ymdhKdtM/neaf0Zhlq2yCYpgnD5ukFI5WgHRI59UMnl9bGU/rKldhJX+MaV8bYEiwMvSujfbbQxdWhFRB/nauDJTxvIKlNVJmvIoRXBM91X+BLFxhstbcQnfbo1U6mG8</value>
            </setting>
        </BG8.Supercharger.Settings>
        <BG8.Supercharger.Controller.Settings>
            <setting name="CTLR_LastSubsystemName" serializeAs="String">
                <value>General</value>
            </setting>
            <setting name="CTLR_LastPaneName" serializeAs="String">
                <value>Settings Management</value>
            </setting>
            <setting name="CTLR_OptionsLastUpdated" serializeAs="String">
                <value>636411083515166927</value>
            </setting>
            <setting name="CTLR_LastGroupName" serializeAs="String">
                <value>General</value>
            </setting>
        </BG8.Supercharger.Controller.Settings>
        <BG8.Supercharger.Features.SuperCopyPaste.Settings>
            <setting name="ScaleDownFactor" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="UpdateCurrentBufferWithLastHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowHistoryExpandedAtCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAtCopy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreventRepeatedCloseCuts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CtrlNumShortcutsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHistoryExpandedAtPaste" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmartFormatAtPaste" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmartFormatAtPaste_IndexedBuffers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Enabled_IndexedBuffers" serializeAs="String">
                <value>True</value>
            </setting>
        </BG8.Supercharger.Features.SuperCopyPaste.Settings>
        <BG8.Supercharger.Features.RichCodeFormat.Settings>
            <setting name="Persistence" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnselectAfterOperation" serializeAs="String">
                <value>False</value>
            </setting>
        </BG8.Supercharger.Features.RichCodeFormat.Settings>
        <BG8.Supercharger.Features.XComments.Settings>
            <setting name="MkUnderline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MkBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MkItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MkRemoved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XXL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PercentXL" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="PercentXXS" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="PercentXS" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Important" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PercentXXL" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="XS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Removed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Question" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XXS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MkHeader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultSeparatorLineColor" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HorzLine1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HorzLine3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HorzLine2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToDo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Undone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Bug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hack" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlsoHideCommentTokenForHeaderEtcLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideMarkers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlsoHideCommentTokenForSeparatorLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EatLeadingWhitespaceWhenHiddingCommentToken" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>False</value>
            </setting>
        </BG8.Supercharger.Features.XComments.Settings>
        <BG8.Supercharger.Features.EVE.Settings>
            <setting name="CFL_SuperEmphasis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_AlsoForTryCatch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_ActionButtonsShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_AlsoForMethodBodies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_CollapseAtDoubleClick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFL_CollapserEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFL_ActionButtonsShowDelay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="CFL_AlsoForTypeBodies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_SuperEmphasisOversize" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="CFL_HighlightBlockOnLineHoverDelay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="CFL_HighlightBlockOnLineHover" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_TypeBodiesColorG_LT" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="CFL_TypeBodiesLineDashed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_SelectionSwitchColorR_LT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CFL_MemberBodiesColorR_LT" serializeAs="String">
                <value>223</value>
            </setting>
            <setting name="CFL_ExcHandlingLineDashed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_MemberBodiesLineDashed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_TypeBodiesColorB_LT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CFL_IterationForLineDashed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFL_MemberBodiesColorB_LT" serializeAs="String">
                <value>153</value>
            </setting>
            <setting name="CFL_IterationForColorR_LT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CFL_SelectionSwitchLineDashed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFL_OthersUsingEtcColorG_LT" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="CFL_IterationWhileDoLineDashed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFL_TypeBodiesColorR_LT" serializeAs="String">
                <value>223</value>
            </setting>
            <setting name="CFL_IterationWhileDoColorG_LT" serializeAs="String">
                <value>108</value>
            </setting>
            <setting name="CFL_IterationForColorG_LT" serializeAs="String">
                <value>108</value>
            </setting>
            <setting name="CFL_OthersUsingEtcLineDashed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFL_SelectionIfColorR_LT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CFL_IterationForColorB_LT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CFL_OthersUsingEtcColorB_LT" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="CFL_SelectionIfLineDashed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFL_MemberBodiesColorG_LT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CFL_SelectionIfColorB_LT" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="CFL_IterationWhileDoColorR_LT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CFL_SelectionIfColorG_LT" serializeAs="String">
                <value>54</value>
            </setting>
            <setting name="CFL_ExcHandlingColorB_LT" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="CFL_OthersUsingEtcColorR_LT" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="CFL_ExcHandlingColorG_LT" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="CFL_IterationWhileDoColorB_LT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CFL_SelectionSwitchColorB_LT" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="CFL_SelectionSwitchColorG_LT" serializeAs="String">
                <value>54</value>
            </setting>
            <setting name="CFL_ExcHandlingColorR_LT" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="CFL_LabelsOpacity" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CFL_LabelsGray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_TopOfViewLabelsFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CFL_TopOfViewLabels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_Opacity" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CFL_CaretEmphasisPropagation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFL_CaretEmphasisAmount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CFL_TooltipsDelay" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CFL_TooltipsDuration" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="CFL_TooltipsShowClickHints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_TooltipsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CtrNamesForeColorB_LT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CtrNamesForeColorG_LT" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="CtrNamesUserTypeface" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CtrNamesItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CtrNamesSize" serializeAs="String">
                <value>115</value>
            </setting>
            <setting name="CtrNamesForeColorR_LT" serializeAs="String">
                <value>245</value>
            </setting>
            <setting name="CtrNamesUserColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CtrNamesUserSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CtrNamesBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MethodPrvNamesUserColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MethodPrvNamesForeColorB_LT" serializeAs="String">
                <value>196</value>
            </setting>
            <setting name="MethodPrvNamesForeColorR_LT" serializeAs="String">
                <value>196</value>
            </setting>
            <setting name="MethodPrvNamesBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MethodPrvNamesUserTypeface" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MethodPrvNamesForeColorG_LT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MethodPrvNamesSize" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="MethodPrvNamesUserSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MethodPrvNamesItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MethodPubNamesSize" serializeAs="String">
                <value>115</value>
            </setting>
            <setting name="MethodPubNamesForeColorB_LT" serializeAs="String">
                <value>196</value>
            </setting>
            <setting name="MethodPubNamesForeColorG_LT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MethodPubNamesBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MethodPubNamesForeColorR_LT" serializeAs="String">
                <value>196</value>
            </setting>
            <setting name="MethodPubNamesUserTypeface" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MethodPubNamesUserColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MethodPubNamesUserSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MethodPubNamesItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PropNamesForeColorB_LT" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="PropNamesSize" serializeAs="String">
                <value>115</value>
            </setting>
            <setting name="PropNamesUserSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PropNamesUserTypeface" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PropNamesUserColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PropNamesItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PropNamesBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PropNamesForeColorG_LT" serializeAs="String">
                <value>121</value>
            </setting>
            <setting name="PropNamesForeColorR_LT" serializeAs="String">
                <value>197</value>
            </setting>
            <setting name="RegionNamesForeColorG_LT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RegionNamesUserColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegionNamesItalic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RegionNamesUserTypeface" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegionNamesBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegionNamesUserSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegionNamesSize" serializeAs="String">
                <value>115</value>
            </setting>
            <setting name="RegionNamesForeColorR_LT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RegionNamesForeColorB_LT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClassNamesBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClassNamesForeColorR_LT" serializeAs="String">
                <value>245</value>
            </setting>
            <setting name="ClassNamesForeColorG_LT" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="ClassNamesItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClassNamesForeColorB_LT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClassNamesUserColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClassNamesSize" serializeAs="String">
                <value>135</value>
            </setting>
            <setting name="ClassNamesUserSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClassNamesUserTypeface" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AttributesUserTypeface" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AttributesForeColorG_LT" serializeAs="String">
                <value>178</value>
            </setting>
            <setting name="AttributesUserColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AttributesItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AttributesUserSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AttributesSize" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="AttributesForeColorR_LT" serializeAs="String">
                <value>178</value>
            </setting>
            <setting name="AttributesForeColorB_LT" serializeAs="String">
                <value>178</value>
            </setting>
            <setting name="DefinitionKindImagesBaseOpacity" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="ShowDefinitionKindImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEobDetails" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EobDetailsSkipByLineCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EobScaleDownFactor" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="EobDetailsSkipByLineCountLimit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ShowHotspots" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEobDetails_ForMembers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EobOpacity" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ShowEobDetails_ForRegions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectionLengthOnStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BoldTextSelection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VSpaceCompressorEmptyLinesEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VSpaceCompressorBlockDefLinesPercent" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="VSpaceCompressorSingleCommentLinesPercent" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="VSpaceCompressorSingleCommentLinesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VSpaceCompressorEmptyLinesPercent" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="VSpaceCompressorSingleCommentLinesSkipXmlComments"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VSpaceCompressorBlockDefLinesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TypeCFLsAlwaysOpaque" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MemberCFLsAlwaysOpaque" serializeAs="String">
                <value>True</value>
            </setting>
        </BG8.Supercharger.Features.EVE.Settings>
        <BG8.Supercharger.Features.CodeMap.Settings>
            <setting name="AutoHideMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncWidthAmongAllWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InAutoHideModeShowOnlyOnLabelHover" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NoAutohideOnKeyboardFocus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FullRefreshAtSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SyncCollapsingEditorToCodeMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightHistoryInCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncCollapsingCodeMapToEditor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Exclusions" serializeAs="String">
                <value>T4MVC.*;*.generated.*</value>
            </setting>
            <setting name="UseAllTimeUsageData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxLocalHistoryItems" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NavigationHighlight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExpandFinalTargetOnNavigation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SingleClickNavigation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NavigationPulseAnimation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BreadcrumbsHoverHighlighting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrackCurrentViewport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScrollToSelected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDocComments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolTipDelay" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="UseNonDimmedImageForPublicMembers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRetType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysShowTooltipsForTrimmedNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTooltips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseContainerImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiezRegions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSupertypeName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowImplementedInterfaceNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowParameters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEnumItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowInterfaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRegions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WorkbenchVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowApiDeclares" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowVarsConstsAndEnumItems" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GlobalSolutionShortcutsExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GroupByItemKind" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SortingIgnoreCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlaceClassesAtTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlaceRegionsAtTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GroupByItemScope" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpacityParameters" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="BoldRegions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ItemStandardFontSemiBold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseCondensedFont" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseCondensedParameterList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CondenseFontBy" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="TypeTitlesWidenBy" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="TagCloudStyleHistoryMinItemCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="InterfaceImplTitlesWidenBy" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CondenseParameterListBy" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="UseSlightlyWiderFontsForTypes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpacityRegions" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TagCloudStyleHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSlightlyWiderFontsForInterfaceImpl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MiniViewEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastLightTheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SyncZoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAnimations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseChildScaling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterAlwaysVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NavigateToLastEditPoint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowGssOnlyIfNonEmpty" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GssVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NonpublicNameOpacity" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="Minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>409</value>
            </setting>
            <setting name="NavigateToLastEditPointTimedOverrideInterval"
                serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NavigationAltModifierEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NavigateToLastEditPointTimedOverride" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CodeWindowScrollPolicy" serializeAs="String">
                <value>0</value>
            </setting>
        </BG8.Supercharger.Features.CodeMap.Settings>
        <BG8.Supercharger.Features.CodeMarker.Settings>
            <setting name="UnselectAfterOperation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOnlyOnHover" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSelectionPopup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Persistence" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorGray_LT" serializeAs="String">
                <value>#D1D1D1</value>
            </setting>
            <setting name="ColorRed_LT" serializeAs="String">
                <value>#FF9090</value>
            </setting>
            <setting name="ColorGreen_LT" serializeAs="String">
                <value>#BFEE7D</value>
            </setting>
            <setting name="ColorMagenta_LT" serializeAs="String">
                <value>#FFD1FF</value>
            </setting>
            <setting name="ColorCyan_LT" serializeAs="String">
                <value>#B2F1FA</value>
            </setting>
            <setting name="ColorYellow_LT" serializeAs="String">
                <value>#F6F290</value>
            </setting>
        </BG8.Supercharger.Features.CodeMarker.Settings>
    </userSettings>
</configuration>